/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: jaime-blues;
    src: url('assets/jaime-blues.ttf');
}

@font-face {
    font-family: vertical-brushy;
    src: url('assets/spring.ttf');
}

* {
    font-family: beautiful-creatures;
}


html {
    height: 100%;
}
body {
    font-family: jaime-blues;
    margin: 0;
    overflow-x: hidden;
}

body, a, h1, h2, h3, h4, h5, p {
    font-family: Roboto,"Helvetica Neue",sans-serif
}

// Scrollbar CSS
::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 5px;
    background-color: #2b2a2a;
}

::-webkit-scrollbar-thumb
{
	background-color: #75b9aa;
}

ngx-image-gallery {
    height: calc(100vh - 65px) !important;
    .image img {
        width: 100vw !important;
        height: calc(100vh - 65px) !important;
    }
}